/*index page */
body {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'TangerSerifMedium-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/TangerSerifMedium-Regular.otf');
}

h1 {
    font-family: 'TangerSerifMedium-Regular';
    line-height: 70px;
    font-size: 64px;
    color: white;
    font-weight: 600; /*    line-height: 100px;*//*    padding-top: 100px;*/
}

.content-title2 {
    margin-top: 45px;
    font-family: 'Works', sans-serif;
    font-size: 32px;
    color: white;
    font-weight: 600;
    line-height: 40px;
}

.content-project {
    margin-left: 0px;
}

@media screen and (min-width: 768px) {
    h1 {
        line-height: 75px;
        font-size: 72px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        line-height: 110px;
        font-size: 120px;
    }
}

.flex-end {
    justify-content: flex-end;
}

/* NAVIGATION */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
    font-family: 'TangerSerifMedium-Regular';
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 60px;
    color: #3C3B3D;
    display: block;
    transition: 0.3s;
    margin-left: 40px;
    font-weight: 600;
    font-family: 'TangerSerifMedium-Regular';
}

.sidenav a:hover {
    color: #E7E7E7;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 48px;
    margin-left: 60px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.content-project {
    font-size: 60px;
    color: lightgray;
    display: block;
    margin-top: 100px;
    margin-left: 0px;
    font-weight: 600;
    font-family: 'TangerSerifMedium-Regular';
}

.projectidentitytext {
    font-family: 'Works', sans-serif;
    font-size: 20px;
    color: #E7E7E7;
}

.tap {
@media only screen and (orientation: portrait), only screen and (orientation: landscape), only screen and (max-device-width: 799px) font-size: 25px;
    display: block;
    text-align: center;
    color: black;
    margin-top: 120px;
    margin-bottom: 50px;
    text-decoration: none;
}
